body{
    margin: 0;
    overflow: hidden;
}

.main-wrapper{
    width:100%;
    height:100vh;
    background-color:rgb(252, 255, 173);
    display: flex;
    flex-direction: column;
    /* align-content: stretch; */
    justify-content: space-between;
    padding: 10px 5px;
    /* padding-bottom: 15px; */
    box-sizing: border-box;
}

#threadWrapper{
    /* background-color: aquamarine; */
    background-color: rgba(255, 255, 255, 0.8);
    flex-grow: 1;
    margin: 20px 10px 20px 10px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

#threadWrapper ul{
    list-style: none;
    margin:2px;
    padding:0px 0;

    /* outline: 1px black dotted; */
    overflow: scroll;
}

/* make paddings changable */
:root {
    --li-padding-horizontal: 2px;
}

#threadWrapper li{
    /* background-color: blanchedalmond; */
    display: flex;
    margin-top: 5px;
    padding: 1px var(--li-padding-horizontal);
    /* display: inline-block; */
}

#threadWrapper li.me{
    /* justify-content: flex-end;
    text-align: right; */
    flex-direction: row-reverse;
    /* background-color: rgb(147, 255, 237); */
}

#threadWrapper li.other{
    justify-content: flex-start;
    text-align: left;
    /* background-color: rgb(255, 255, 255,0.5); */
}

#threadWrapper li .who{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#threadWrapper li.me .who{
    font-size: 0;
    min-width: 2.5px;
    background-color: rgb(246, 255, 0,0.5);
}

#threadWrapper li.me .words{
    color: rgb(0, 67, 191);
    background-color: rgba(206, 244, 255, 0.5);
    max-width: 100%;
}

#threadWrapper li.other .who{
    font-size: 12px;
    background-color: rgba(255, 179, 203, 0.5);
}

#threadWrapper li.other .words{
    color: black;
    background-color: rgba(215, 255, 211, 0.5);
    max-width: 100%;
}

.who{
    font-style: italic;
    display: inline-block;
    padding: 1px 6px;  
}

.words{
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    padding: 2px 6px;
    font-size: 14px;
    /* border-radius: 6px; */
}

/* #threadWrapper li:nth-child(even){
    background-color: rgb(147, 255, 237);
} */

#chatForm{
    display: flex;
    justify-content: space-between;
    margin:5px 15px;
}

#chatForm input{
    flex-grow: 1;
    height:20px;
    border: 2px solid #d0ff00; 
}

#chatForm button {
    margin-left: 5px;
    border: none;
    color:white;
    background-color:#341f00;
}

#nameWrapper {
  padding: 0 10px;
  text-align: right;
}

#nameWrapper input{
    width: 20%;
    height:20px;
    border: 2px solid #d0ff00; 
    /* box-sizing: border-box; */
}

#nameWrapper p{
    display: inline;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#logoWrapper {
  padding: 0px 10px;
  position: absolute;
  top: 13px;
  left: 0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
  color: #341f00;
  padding: 5px 10px;
  border-radius: 5px;
}